<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         html{
            background-color:#c8a2c8;}
    </style>
</head>
<body>
    <h2>hey <%=data3.usname%> currently you accepted invitation from <%=data3.fromone%> </h2>
</body>
</html>